# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / build
build/
dist/
*.egg-info/

# MkDocs build output
site/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env
.env.*

# Logs
*.log

# Page
site/
